.cask
.tutor
*.elc
docset*
elpa/*
deps/*
auto-save-list/*
history
recentf
tramp
.stfolder
.cask/*
.DS_Store
\.*.elc
projectile-bookmarks.eld
anaconda-mode
.python-environments
semanticdb
config/custom.el
