
<html>
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/resources/css/font-awesome.css" />
    <link rel="stylesheet" href="/resources/css/main.css" />

    <title>Gears Configuration</title>
  </head>
  <body>
    <header class="layout-header-wrapper">
      <div class="layout-header-inner">
        <span><a href="/"><i class="fa fa-gear"></i>&nbsp;Gears Configuration</a></span>

        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="../">BACK</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="layout-body-wrapper">
      <div class="layout-body-inner">
        {{body-data}}
      </div>
    </div>
  </body>
</html>
