h1.page-title {
  text-align: left; }

.valign-top {
  vertical-align: top; }

.about-feature-list {
  width: 100%;
  min-width: 500px; }

.about-feature-list .content {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-around; }

.about-feature-list .feature-item p:first {
  font-weight: bold; }

@media all and (max-width: 500px) {
  .about-feature-list .content {
    flex-direction: column; } }
.about-feature-list .feature-item {
  width: 30%;
  margin: 15px;
  min-width: 350px; }

.about-feature-list .feature-item .paragraph {
  width: 100%; }

@media all and (max-width: 240px) {
  .about-feature-list .feature-item {
    min-width: 220px; } }
@media all and (max-width: 600px) {
  .about-feature-list .feature-item {
    width: 100%; } }
@media all and (max-width: 1184px) {
  .about-feature-list .feature-item {
    width: 45%;
    flex-grow: 1; } }
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }
