body {
  margin: 0px;
  word-wrap: break-word; }

/**
 * Header
 */
.layout-header-wrapper {
  width: 100%;
  min-height: 56px;
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: middle;
  font-size: 26px;
  display: table;
  position: relative; }

.layout-header-inner {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 15px;
  padding-bottom: 15px; }

.layout-header-inner a {
  color: black;
  text-decoration: none; }

.layout-header-inner span {
  display: inline; }

/**
 * Navigation
 */
.layout-header-inner nav {
  height: 100%;
  display: inline flex;
  float: right;
  font-size: 20px;
  vertical-align: bottom;
  padding-top: 5px;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around; }

.layout-header-inner nav ul {
  padding: 0px;
  display: inline;
  list-style: none; }

.layout-header-inner nav ul li {
  padding-left: 3px;
  display: inline; }

.layout-header-inner nav ul li a:active {
  color: red;
  text-decoration: underline; }
.layout-header-inner nav ul li a:hover {
  text-decoration: underline; }

.layout-body-wrapper {
  padding-top: 25px;
  text-align: center;
  margin: 15px; }

.layout-body-inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 15px 0;
  text-align: left; }
